.container {
    padding: 30px;
    display: flex;
    justify-content: center;
    .card {
        padding: 5px;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 80px;
    }
}
